.formContainer {
  background-color: #2D54E8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.startButton {
  background: white !important;

  &:hover, &:focus {
    background: lightgray !important;
  }
}

.assessmentHeading {
  color: white;
  text-align: center;
  width: 50vw;
  font-size: 22px;
}

.header {
  color: white;
  text-transform: uppercase;
}